## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 1
print(a)

1

2) Imprimir el tipo de dato de la variable 8.5

In [2]:
b = 8.5
print(type(b))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [5]:
nombre = "Martina"

5) Crear una constante que contenga el número Pi

In [6]:
PI = 3.14

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
print(type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [15]:
e = 2.7182

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
variable_1 = "True"
variable_2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [9]:
print(type(variable_1))
print(type(variable_2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [11]:
suma_1 = 10 + 3.14

11) Realizar una operación de suma de un número definido como string con un entero

In [18]:
suma_2 = "uno" + str(1)

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [16]:
e_cubo = e**3

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [55]:
entrada_1 = input("Ingrese primer numero a multiplicar")
entrada_2 = input("Ingrese segundo numero a multiplicar")
resultado = int(entrada_1)*int(entrada_2)
print("Ingresó: ","'", entrada_1,"x",entrada_2,"'","y el resultado es",resultado)

Ingresó:  ' 4 x 5 ' y el resultado es 20

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [23]:
resultado_2 = 27 / 4
print(resultado_2)

6.75

15) De la división anterior solamente mostrar la parte entera

In [24]:
resultado_3 = 27 // 4
print(resultado_3)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [33]:
resultado_4 = 27 % 4
print(resultado_4)

0.75

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16. Obtener 27 como resultado

In [37]:
resultado_5 = (float(resultado_3) + float(resultado_4)) * 4 
print(int(resultado_5))

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [1]:
dos = "2"
if dos == 2:
    print("2' es igual a 2")
else:
    print("'2' NO es igual a 2")

'2' NO es igual a 2

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [2]:
dos = int("2")
if dos == 2:
    print("2' es igual a 2")
else:
    print("'2' NO es igual a 2")

2' es igual a 2

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [56]:
# Por que ',' no es coma decimal, se utiliza para separar

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [6]:
r_1 = str(2) + str('2')
r_2 = int(2) + int('2')
r_3 = float(2) + float('2')

print(r_1)
print(r_2)
print(r_3)

22
4
4.0

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [8]:
menu = """
MENU
1-Pizza       2-Empanadas
3-Milanesas   4-Salir
"""
print(menu)

MENU
1-Pizza       2-Empanadas
3-Milanesas   4-Salir

23) Crear una lista que contenga los números del 1 al 10

In [11]:
list_1 = [1,2,3,4,5,6,7,8,9,10]
print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [13]:
list_1 = [1,2,3,4,5,6,7,8,9,10]
print(list_1[-2])

9

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [16]:
list_1[2] = "Martina"
print(list_1)

[1, 2, 'Martina', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [30]:
matriz_1 =[ ["A","B","C"],["D","E","F"],["G","H","I"] ]

27) Imprimir la matriz creada en el punto 26

In [29]:
n= 0
while True:
    print(matriz_1[n], end="\n")
    n = n+1
    if n == 3:
        break

['A', 'B', 'C']
['D', 'E', 'F']
['G', 'H', 'I']

28) Modificar la letra E de la matriz y colocar la letra Z

In [31]:
n= 0
matriz_1[1][1] = "Z"
while True:
    print(matriz_1[n], end="\n")
    n = n+1
    if n == 3:
        break

['A', 'B', 'C']
['D', 'Z', 'F']
['G', 'H', 'I']

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [33]:
n=0
matriz_1[0][0] = "1"
matriz_1[0][1] = "2"
matriz_1[0][2] = "3"

while True:
    print(matriz_1[n], end="\n")
    n = n+1
    if n == 3:
        break

['1', '2', '3']
['D', 'Z', 'F']
['G', 'H', 'I']

30) Crear una tupla que contenga 5 marcas de ropa

In [35]:
tupla_1 = tuple(["Balenciaga","Abercrombie","Zara","H&M","Chanel"])

('Balenciaga', 'Abercrombie', 'Zara', 'H&M', 'Chanel')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [39]:
print(tupla_1[0])

Balenciaga

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [42]:
# tupla_1[1] = "Otra marca"
# una tupla no se puede cambiar

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [47]:
diccionario_1 = dict({"nombre": "Martina", "apellido" : "Torres", "Edad" : "20 años", "Hobbies" : ["Leer","Dibujar","Pintar"]})

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [48]:
print(diccionario_1["Hobbies"])

['Leer', 'Dibujar', 'Pintar']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [52]:
diccionario_1["Edad"] = 20
print(diccionario_1)

{'nombre': 'Martina', 'apellido': 'Torres', 'Edad': 20, 'Hobbies': ['Leer', 'Dibujar', 'Pintar']}